@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

#app {
    padding: 10px 50px;
    max-width: 1200px;
    margin: auto;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
}

h2 {
    margin-bottom: 0;
}

.error-message {
    color: red;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-right .p-button {
    margin-left: 15px !important;
}

body .p-button {
    font-size: 15px !important; 
}

body .p-selectbutton {
    text-align: center;
}

.form__group {
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
}

.form__group label {
    font-size: 0.9rem;
    margin-bottom: 5px;
}

.form__group input, .form__group .p-dropdown {
    width: 500px;
    max-width: 100%;
}

.p-dropdown-filter-container {
    width: 100%;
}

.p-dropdown-label {
    margin: 0 !important;
}

form .p-button {
    margin-top: 20px !important;
}

.button--wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.home h1, .year-selection h1 {
    margin-bottom: 50px;
}

.home .p-button, .year-selection .p-button {
    margin-bottom: 50px;
    font-size: 1.3rem !important;
}

.home .p-button {
    text-transform: capitalize;
}

.home .p-button:not(:last-of-type), .year-selection .p-button:not(:last-of-type) {
    margin-right: 50px;
}

.invoices-overview__list {
    display: flex;
    flex-wrap: wrap;
}

.invoices-overview__item {
    width: 33.3%;
    padding-right: 2%;
    margin-bottom: 40px;
}

.invoices-overview__item p {
    margin: 0;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 14px;
}

tr > th {
    padding: 0.571em 0.857em;
    border: 1px solid #c8c8c8;
    font-weight: 700;
    color: #333333;
    background-color: #f4f4f4;
    text-align: center;
}

tr > td {
    background: inherit;
    border: 1px solid #c8c8c8;
    padding: 0.429em 0.857em;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e0e0e0;
    cursor: pointer;
}

.invoices-list tr > td:nth-of-type(3) {
    position: relative;
    padding-left: 25px;
}

.invoices-list tr > td:nth-of-type(3)::before {
    content: '€ ';
    position: absolute;
    left: 10px;
    top: 6px; 
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
}

.back-button {
    display: flex;
    align-items: center;
}

.back-button p {
    margin: 0;
    margin-left: 20px;
}

.error {
    color: red;
    margin-bottom: 20px;
}