<template>
  <div class="categories">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesList' })" label="Terug naar facturatie" />
    </div>
    <h1 class="text-center">Categorieën</h1>
    <div class="text-right">
      <Button @click="$router.push({ name: 'NewCategory', params: { year: year} })"
        label="Voeg categorie toe" icon="pi pi-plus" iconPos="left" />
    </div>
    <template v-if="loader">
      <div class="text-center">
        <ProgressSpinner style="width:90px;height:90px;margin-top:50px;"
          strokeWidth="3" />
      </div>
    </template>
    <template v-else>
      <br><br>
      <DataTable :value="categories" :filters="filters" editMode="row"
      :editingRows.sync="editingRows"
      @row-edit-init="onRowEditInit"
      @row-edit-save="onRowEditSave"
      @row-edit-cancel="onRowEditCancel">
        <Column field="name" header="Naam"  :sortable="true">
          <template #filter>
              <InputText type="text" v-model="filters['name']" class="p-column-filter"
              placeholder="Zoek op naam" />
          </template>
          <template #editor="slotProps">
              <InputText v-model="slotProps.data[slotProps.column.field]" />
          </template>
        </Column>
        <Column :rowEditor="true" headerStyle="width:6em" bodyStyle="text-align:center"></Column>
      </DataTable>
    </template>
  </div>
</template>

<script>
import Vue from 'vue';
import { db } from '../services/db';

export default {
  name: 'Suppliers',
  data() {
    return {
      filters: {},
      editingRows: [],
      originalRows: null,
      year: null,
      loader: true,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
  },
  created() {
    this.originalRows = {};
    this.year = this.$route.params.year;

    if (this.categories.length > 0) {
      this.loader = false;
    }
  },
  watch: {
    categories() {
      if (this.categories.length > 0) {
        this.loader = false;
      }
    },
  },
  methods: {
    onRowEditSave(event) {
      const category = { ...this.categories[event.index] };

      db.collection('categories')
        .doc(this.categories[event.index].id)
        .set(category)
        .then(() => {
          console.log('invoice updated!');
        });
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = { ...this.categories[event.index] };
    },
    onRowEditCancel(event) {
      Vue.set(this.categories, event.index, this.originalRows[event.index]);
    },
  },
};
</script>
