<template>
  <div class="new-invoice">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesList' })" label="Terug naar facturatie" />
    </div>
    <br><br>
    <h2>Aanpassen factuurlijn {{ filteredCategory ? `voor ${filteredCategory}` : ''  }}</h2>
    <p v-if="errorMessage" class="error-message">
      Gelieve alle verplichte velden correct in te vullen.</p>
    <form @submit="editInvoice">
      <div class="form__group">
        <label for="invoiceNr">Factuurnummer *</label>
        <div class="form__group__input">
          <InputText id="invoiceNr" type="text" v-model="invoice.invoiceNr" />
        </div>
      </div>
      <div class="form__group">
        <label for="invoiceDate">Factuurdatum *</label>
        <div class="form__group__input">
          <InputText id="invoiceDate" type="date" v-model="invoice.invoiceDate"
            :min="minDate" :max="maxDate"  />
        </div>
      </div>
      <div class="form__group">
        <label for="total">Bedrag *</label>
        <div class="form__group__input">
          <InputText id="total" type="number" step="0.01" v-model="invoice.total" /> euro
        </div>
      </div>
      <div class="form__group">
        <label for="name">Leverancier *</label>
        <div class="form__group__input">
          <Dropdown v-model="selectedSupplier" :options="suppliers"
          optionLabel="name" placeholder="Selecteer een leverancier"
          :filter="true"
          filterPlaceholder="Vind een leverancier" />
        </div>
      </div>
      <div class="form__group">
        <label for="remark">Opmerking</label>
        <div class="form__group__input">
          <InputText id="remark" type="text" v-model="invoice.remarks" />
        </div>
      </div>

      <Toast />

      <Button :disabled="disabled" label="Opslaan"></Button>
    </form>
    <br>
    <br>
    <br>
    <br>
    <Button @click="deleteInvoice" :disabled="disabled"
      label="Verwijder factuur" class="p-button-danger"></Button>
  </div>
</template>

<script>
import { db } from '../services/db';
/* eslint-disable radix */
export default {
  name: 'NewInvoice',
  data() {
    return {
      selectedSupplier: null,
      filteredCategory: null,
      errorMessage: false,
      disabled: false,
      year: null,
      maxDate: null,
      minDate: null,
      campus: null,
      invoice: {},
      invoiceId: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    suppliers() {
      return this.$store.state.suppliers;
    },
    invoices() {
      if (this.$route.params.campus === 'antwerpen') {
        return this.$store.state.invoicesAntwerpen;
      }
      return this.$store.state.invoicesDeurne;
    },
  },
  created() {
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;
    this.invoiceId = this.$route.params.invoiceId;
    this.minDate = `${this.year}-01-01`;
    this.maxDate = `${this.year}-12-31`;
    this.init();
  },
  watch: {
    $route() {
      this.init();
    },
  },
  methods: {
    init() {
      this.invoice = this.invoices.find((i) => i.id === this.invoiceId);
      this.selectedSupplier = this.suppliers.find((i) => i.id === this.invoice.supplierId);
    },
    async editInvoice(e) {
      e.preventDefault();
      if (this.invoice.invoiceNr && this.invoice.invoiceDate
        && this.invoice.total && this.selectedSupplier) {
        this.disabled = true;

        let categoryId = null;

        this.suppliers.map((supplier) => {
          if (supplier.id === this.selectedSupplier.id) {
            categoryId = supplier.categoryId;
          }
          return null;
        });

        const invoice = {
          ...this.invoice,
          categoryId,
          supplierId: this.selectedSupplier.id,
        };

        await db.collection('invoices')
          .doc(this.invoiceId)
          .set(invoice)
          .then(() => {
            this.$toast.add({
              severity: 'success',
              summary: 'Success',
              detail: `Factuur ${this.invoice.invoiceNr} gewijzigd.`,
              life: 5000,
            });
          });

        this.$router.push({
          name: 'InvoicesList',
          params: { year: this.year, campus: this.campus },
        });
      } else {
        this.errorMessage = true;
      }
    },
    async deleteInvoice() {
      // eslint-disable-next-line no-alert
      if (window.confirm('Ben je zeker dat je deze factuur wil verwijderen?')) {
        await db.collection('invoices')
          .doc(this.invoiceId)
          .delete()
          .then(() => {
            this.$toast.add({
              severity: 'success',
              summary: 'Success',
              detail: 'Factuur verwijderd.',
              life: 5000,
            });
            this.$router.push({
              name: 'InvoicesList',
              params: { year: this.year, campus: this.campus },
            });
          });
      } else {
        // They clicked no
      }
    },
  },
};
</script>
