<template>
  <div class="home text-center">
    <div class="intro">
      <h1>Kies een campus:</h1>
    </div>

    <template v-for="x in campus">
        <Button :key="x" class="p-button-raised"
          @click="$router.push({ name: 'YearSelection', params: {campus : x} })" :label="x" />
    </template>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      campus: ['antwerpen', 'deurne'],
    };
  },
};
</script>
