<template>
  <div class="invoices-overview">
      <div class="button--wrapper">
      <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesList' })" label="Terug naar facturatie" />
      </div>
    </div>
    <br>
    <h1 class="text-center">Overzicht facturatie {{ year }}
        {{ campus }}</h1>
    <template v-if="loader">
      <div class="text-center">
        <ProgressSpinner style="width:90px;height:90px;margin-top:50px;"
          strokeWidth="3" />
      </div>
    </template>
    <template v-else>
      <template v-for="(invoicesByCategoryBySupplier) in invoicesByCategoryBySupplierArray">
        <template
          v-for="(invoicesBySupplierArray, categoryKey) in invoicesByCategoryBySupplier">
          <div class="invoices-overview__list--wrapper" :key="categoryKey">
            <h2 :key="categoryKey">{{ categoryKey }}</h2>
            <div class="invoices-overview__list">
              <div class="invoices-overview__item"
                v-for="(invoicesBySupplier, key) in invoicesBySupplierArray" :key="key">
                <div
                  v-for="(invoice, supplierKey) in invoicesBySupplier"
                  :key="supplierKey">
                  <h3>{{ supplierKey }} -- € {{ getTotal(invoice) }}</h3>
                  <p>Januari: {{ invoice[1] ? '€ ' + Number.parseFloat(invoice[1]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Februari: {{ invoice[2] ? '€ ' + Number.parseFloat(invoice[2]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Maart: {{ invoice[3] ? '€ ' + Number.parseFloat(invoice[3]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>April: {{ invoice[4] ? '€ ' + Number.parseFloat(invoice[4]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Mei: {{ invoice[5] ? '€ ' + Number.parseFloat(invoice[5]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Juni: {{ invoice[6] ? '€ ' + Number.parseFloat(invoice[6]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Juli: {{ invoice[7] ? '€ ' + Number.parseFloat(invoice[7]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Augustus: {{ invoice[8] ? '€ ' + Number.parseFloat(invoice[8]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>September: {{ invoice[9] ? '€ ' + Number.parseFloat(invoice[9]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>Oktober: {{ invoice[10] ? '€ ' + Number.parseFloat(invoice[10]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>November: {{ invoice[11] ? '€ ' + Number.parseFloat(invoice[11]).toFixed(2) :
                    '€ 0.00' }}</p>
                  <p>December: {{ invoice[12] ? '€ ' + Number.parseFloat(invoice[12]).toFixed(2) :
                    '€ 0.00' }}</p>
                </div>
              </div>
            </div>
          </div>
        </template>
      </template>
    </template>
  </div>
</template>

<script>
/* eslint-disable no-param-reassign */
import _groupBy from 'lodash.groupby';

export default {
  name: 'InvoicesOverview',
  data() {
    return {
      year: null,
      loader: true,
      selectedCategory: {},
      invoicesByCategoryBySupplierArray: [],
      campus: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    suppliers() {
      return this.$store.state.suppliers;
    },
    invoices() {
      if (this.$route.params.campus === 'antwerpen') {
        return this.$store.state.invoicesAntwerpen;
      }
      return this.$store.state.invoicesDeurne;
    },
  },
  watch: {
    invoices() {
      this.getGroupedInvoices();
    },
  },
  created() {
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;
    this.getGroupedInvoices();
  },
  methods: {
    getTotal(invoice) {
      if (invoice.length > 0) {
        let total = 0;
        invoice.forEach((invoiceByMonth) => {
          total += invoiceByMonth;
        });
        return Number.parseFloat(total).toFixed(2);
      }

      return Number.parseFloat(0).toFixed(2);
    },
    getGroupedInvoices() {
      if (this.categories.length > 0 && this.suppliers.length > 0 && this.invoices.length > 0) {
        const filteredInvoices = this.invoices.filter(
          (invoice) => (this.year ? invoice.invoiceDate.includes(this.year) : true),
        );
        const invoicesByCategory = _groupBy(filteredInvoices, 'categoryId');

        this.invoicesByCategoryBySupplierArray = Object.keys(invoicesByCategory)
          .map((categoryKey) => {
            const invoicesBySupplier = _groupBy(invoicesByCategory[categoryKey], 'supplierId');

            const mappedInvoiceBySupplier = Object.keys(invoicesBySupplier).map((supplierKey) => {
              let invoiceBySupplier = invoicesBySupplier[supplierKey];

              invoiceBySupplier = invoiceBySupplier.reduce((result, invoice) => {
                let month = invoice.invoiceDate.split('-')[1];
                if (month) {
                  month = month.replace(/^0+/, '');
                  if (invoice.total && invoice.total.toString().includes(',')) {
                    invoice.total = invoice.total.replace(',', '.');
                  }
                }
                if (!result[month]) {
                  result[month] = +invoice.total;
                } else {
                  result[month] += +invoice.total;
                }

                return result;
              }, []);

              const newKey = this.suppliers.find((supplier) => supplier.id === supplierKey).name;
              return { [newKey]: invoiceBySupplier };
            });

            const newKey = this.categories.find((category) => category.id === categoryKey).name;
            return { [newKey]: mappedInvoiceBySupplier };
          });

        this.loader = false;
      }
    },
  },
};
</script>
