<template>
  <div class="invoices-list">
      <div class="button--wrapper">
      <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'YearSelection' })" label="Terug" />

      </div>
      <div class="text-right">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'SuppliersList', params: { year: year, campus: campus} })"
          label="Bekijk leveranciers" />
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'CategoriesList', params: { year: year, campus: campus} })"
          label="Bekijk categorieën" />
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesOverview', params: { year: year, campus: campus} })"
          label="Bekijk jaaroverzicht" />
      </div>
    </div>
    <br>
    <h1 class="text-center">Facturatie {{ campus }} {{ year }}</h1>
    <template v-if="loader">
      <div class="text-right">
        <Button @click="newInvoice" label="Voeg factuurlijn toe"
            icon="pi pi-plus" iconPos="left" />
      </div>
      <div class="text-center">
        <ProgressSpinner style="width:90px;height:90px;margin-top:50px;"
          strokeWidth="3" />
      </div>
    </template>
    <template v-else>
        <SelectButton v-model="selectedCategory" :options="categories" optionLabel="name" />
        <br><br>
        <div class="text-right">
          <Button @click="newInvoice" label="Voeg factuurlijn toe"
            icon="pi pi-plus" iconPos="left" />
        </div>
        <br>

        <table style="width:100%">
          <tr>
            <th>Factuurnummer</th>
            <th>Factuurdatum</th>
            <th>Prijs</th>
            <th>Leverancier</th>
            <th>Opmerkingen</th>
          </tr>
          <template v-for="(filteredInvoiceBySupplier) in filteredInvoicesBySupplier">
            <template v-if="filteredInvoiceBySupplier.length > 0">
            <tr :key="filteredInvoiceBySupplier[0].supplierName">
              <td colspan="5" style="font-weight: bold;">
                {{ filteredInvoiceBySupplier[0].supplierName }}</td>
            </tr>
            <tr v-for="(filteredInvoice) in filteredInvoiceBySupplier"
              :key="filteredInvoice.invoiceDate + '' + filteredInvoice.id"
              @click="editInvoice(filteredInvoice.id)">
              <td>{{ filteredInvoice.invoiceNr }} </td>
              <td>{{ filteredInvoice.invoiceDate }} </td>
              <td>{{ filteredInvoice.total }} </td>
                <td>{{ filteredInvoice.supplierName }} </td>
                <td>{{ filteredInvoice.remarks }} </td>
            </tr>
            </template>
          </template>
        </table>
    </template>
  </div>
</template>

<script>
// import Vue from 'vue';
// import { db } from '../services/db';
import _orderBy from 'lodash.orderby';
import _groupBy from 'lodash.groupby';

export default {
  name: 'InvoicesList',
  data() {
    return {
      selectedCategory: null,
      selectedCategoryId: null,
      filteredInvoices: [],
      filteredInvoicesBySupplier: [],
      year: null,
      loader: true,
      campus: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    suppliers() {
      return this.$store.state.suppliers;
    },
    invoices() {
      if (this.$route.params.campus === 'antwerpen') {
        return this.$store.state.invoicesAntwerpen;
      }
      return this.$store.state.invoicesDeurne;
    },
  },
  created() {
    this.originalRows = {};
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;

    this.updateList();
  },
  watch: {
    selectedCategory(val) {
      if (val) {
        this.updateList(val.id);
      } else {
        this.updateList();
      }
    },
    invoices() {
      this.updateList();
    },
    suppliers() {
      this.updateList();
    },
    categories() {
      if (this.categories.length > 0) {
        this.categories.forEach((element) => {
          if (element.id === this.$route.params.categoryId) {
            this.selectedCategory = { name: element.name };
            this.selectedCategoryId = element.id;
          } else {
            this.selectedCategoryId = null;
          }
        });
      }
    },
  },
  methods: {
    updateList(categoryId) {
      if (this.invoices.length > 0 && this.suppliers.length > 0 && this.categories.length > 0) {
        if (this.$route.params.categoryId) {
          this.categories.forEach((element) => {
            if (element.id === this.$route.params.categoryId) {
              if (!this.selectedCategory) {
                this.selectedCategory = { name: element.name };
                this.selectedCategoryId = element.id;
                return 'Tinne';
              }
            } else {
              this.selectedCategoryId = null;
            }
            return 'Tinne';
          });
        }

        this.filteredInvoices = this.invoices.filter(
          (invoice) => (this.year ? invoice.invoiceDate.includes(this.year) : true),
        ).filter(
          // eslint-disable-next-line no-nested-ternary
          (invoice) => (categoryId ? invoice.categoryId === categoryId
            : (this.selectedCategoryId ? invoice.categoryId === this.selectedCategoryId : true)),
        ).map((invoice) => ({
          ...invoice,
          id: invoice.id,
          supplierName:
              this.suppliers.find((supplier) => supplier.id === invoice.supplierId).name,
        }));

        this.filteredInvoices = _orderBy(this.filteredInvoices, ['supplierName', 'invoiceDate'], ['asc']);
        this.filteredInvoicesBySupplier = _groupBy(this.filteredInvoices, 'supplierId');

        this.loader = false;
      }
    },
    newInvoice() {
      if (this.selectedCategory) {
        this.$router.push({ path: `/new-invoice/${this.campus}/${this.year}/${this.selectedCategory.id ? this.selectedCategory.id : this.selectedCategoryId}` });
      } else {
        this.$router.push({ path: `/new-invoice/${this.campus}/${this.year}` });
      }
    },
    editInvoice(invoiceId) {
      // console.log(this.filteredInvoices.find((i) => i.id === invoiceId));
      this.$router.push({ path: `/edit-invoice/${this.campus}/${this.year}/${invoiceId}` });
    },
  },
};
</script>
