<template>
  <div class="login">
    <h1>Facturatie -- Login</h1>
    <div v-if="error" class="error">{{error}}</div>
    <form @submit.prevent="submit">
      <div class="form__group">
        <label for="email">Email *</label>
        <div class="form__group__input">
          <InputText required id="email" type="email" v-model="form.email" />
        </div>
      </div>

      <div class="form__group">
        <label for="password">Password *</label>
        <div class="form__group__input">
          <InputText required id="password" type="password" v-model="form.password" />
        </div>
      </div>

      <Button :disabled="disabled" label="Opslaan"></Button>
    </form>
  </div>
</template>

<script>
import firebase from 'firebase/app';
import 'firebase/auth';

export default {
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
      disabled: false,
      error: null,
    };
  },
  methods: {
    submit() {
      this.disabled = true;
      firebase
        .auth()
        .signInWithEmailAndPassword(this.form.email, this.form.password)
        .then(() => {
          this.$router.push({ name: 'Home' });
        })
        .catch(() => {
          this.disabled = false;
          this.error = 'Gebruikersnaam en/of wachtwoord is foutief. Gelieve te corrigeren en opnieuw te proberen.';
        });
    },
  },
};
</script>
