<template>
  <div class="new-category">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'CategoriesList', params: {year: year} })"
          label="Terug naar categorieën"  />
    </div>
    <br><br>
    <h2>Nieuwe categorie toevoegen</h2>
    <p v-if="errorMessage" class="error-message">
      Gelieve alle verplichte velden correct in te vullen.</p>
    <form @submit="addCategory">
      <div class="form__group">
        <label for="name">Naam *</label>
        <div class="form__group__input">
          <InputText id="name" type="text" v-model="name" />
        </div>
      </div>

      <Toast />

      <Button :disabled="disabled" label="Toevoegen"></Button>
    </form>
  </div>
</template>

<script>
import { db } from '../services/db';

export default {
  name: 'NewCategory',
  data() {
    return {
      name: null,
      errorMessage: false,
      year: null,
      disabled: false,
      campus: null,
    };
  },
  created() {
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;
  },
  methods: {
    async addCategory(e) {
      e.preventDefault();

      if (this.name) {
        this.disabled = true;
        const result = await db.collection('categories').add({
          name: this.name,
        });
        console.log(result);
        this.$toast.add({
          severity: 'success', summary: 'Success', detail: `Categorie ${this.name} toegevoegd`, life: 5000,
        });
        this.$router.push({ name: 'CategoriesList', params: { year: this.year, campus: this.campus } });
      } else {
        this.errorMessage = true;
      }
    },
  },
};
</script>
