<template>
  <div class="new-invoice">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesList' })" label="Terug naar facturatie" />
    </div>
    <br><br>
    <h2>Nieuwe factuurlijn toevoegen {{ filteredCategory ? `voor ${filteredCategory}` : ''  }}</h2>
    <p v-if="errorMessage" class="error-message">
      Gelieve alle verplichte velden correct in te vullen.</p>
    <form @submit="addInvoice">
      <div class="form__group">
        <label for="invoiceNr">Factuurnummer *</label>
        <div class="form__group__input">
          <InputText id="invoiceNr" type="text" v-model="invoiceNr" />
        </div>
      </div>
      <div class="form__group">
        <label for="invoiceDate">Factuurdatum *</label>
        <div class="form__group__input">
          <InputText id="invoiceDate" type="date" v-model="invoiceDate"
            :min="minDate" :max="maxDate"  />
        </div>
      </div>
      <div class="form__group">
        <label for="total">Bedrag *</label>
        <div class="form__group__input">
          <InputText id="total" type="number" step="0.01" v-model="total" /> euro
        </div>
      </div>
      <div class="form__group">
        <label for="name">Leverancier *</label>
        <div class="form__group__input">
          <Dropdown v-model="selectedSupplier" :options="filteredSuppliers"
          optionLabel="name" placeholder="Selecteer een leverancier"
          :filter="true"
          filterPlaceholder="Vind een leverancier" />
        </div>
      </div>
      <div class="form__group">
        <label for="remark">Opmerking</label>
        <div class="form__group__input">
          <InputText id="remark" type="text" v-model="remark" />
        </div>
      </div>

      <Toast />

      <Button :disabled="disabled" label="Opslaan"></Button>
    </form>
  </div>
</template>

<script>
import { db } from '../services/db';
/* eslint-disable radix */
export default {
  name: 'NewInvoice',
  data() {
    return {
      invoiceNr: null,
      invoiceDate: null,
      total: null,
      remark: null,
      selectedSupplier: null,
      filteredSuppliers: [],
      filteredCategory: null,
      filteredCategoryId: null,
      errorMessage: false,
      disabled: false,
      year: null,
      maxDate: null,
      minDate: null,
      campus: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    suppliers() {
      return this.$store.state.suppliers;
    },
  },
  created() {
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;
    this.filteredCategoryId = this.$route.params.categoryId;
    this.minDate = `${this.year}-01-01`;
    this.maxDate = `${this.year}-12-31`;
    this.init();
  },
  watch: {
    $route() {
      this.init();
    },
    suppliers() {
      this.init();
    },
  },
  methods: {
    init() {
      this.filteredSuppliers = [];
      if (this.filteredCategoryId) {
        this.suppliers.map((supplier) => {
          if (this.filteredCategoryId === supplier.categoryId) {
            this.filteredSuppliers.push(supplier);
          }
          return this.filteredSuppliers;
        });
        this.categories.map((category) => {
          if (this.filteredCategoryId === category.id) {
            this.filteredCategory = category.name;
          }
          return this.filteredCategory;
        });
      } else {
        this.filteredSuppliers = this.suppliers;
      }
    },
    async addInvoice(e) {
      e.preventDefault();
      if (this.invoiceNr && this.invoiceDate && this.total && this.selectedSupplier) {
        this.disabled = true;
        // const tuple = this.invoiceDate.split('T');
        // const date = tuple[0];
        // const dateTuple = date.split('-');
        // const day = parseInt(dateTuple[2]);
        // const month = parseInt(dateTuple[1]);
        // const year = parseInt(dateTuple[0]);
        // const newFormatedDate = [day, month, year].join('/');

        let categoryId = null;

        this.suppliers.map((supplier) => {
          if (supplier.id === this.selectedSupplier.id) {
            categoryId = supplier.categoryId;
          }
          return null;
        });

        await db.collection('invoices').add({
          invoiceNr: this.invoiceNr,
          supplierId: this.selectedSupplier.id,
          invoiceDate: this.invoiceDate,
          total: Number.parseFloat(this.total).toFixed(2),
          remarks: this.remark,
          categoryId,
          campus: this.campus,
        });
        this.$toast.add({
          severity: 'success',
          summary: 'Success',
          detail: `Factuur ${this.invoiceNr} van ${this.selectedSupplier.name} toegevoegd`,
          life: 5000,
        });

        if (this.filteredCategoryId) {
          this.$router.push({ name: 'InvoicesList', params: { year: this.year, categoryId: this.filteredCategoryId, campus: this.campus } });
        } else {
          this.$router.push({ name: 'InvoicesList', params: { year: this.year, campus: this.campus } });
        }
      } else {
        this.errorMessage = true;
      }
    },
  },
};
</script>
