<template>
  <div class="new-supplier">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'SuppliersList', params: {year: year} })"
          label="Terug naar leveranciers" />
    </div>
    <br>
    <br>
    <h2>Nieuwe leverancier toevoegen</h2>
    <p v-if="errorMessage" class="error-message">
      Gelieve alle verplichte velden correct in te vullen.</p>
    <form @submit="addCategory">
      <div class="form__group">
        <label for="name">Naam *</label>
        <div class="form__group__input">
          <InputText id="name" type="text" v-model="name" />
        </div>
      </div>
      <div class="form__group">
        <label for="name">Categorie *</label>
        <div class="form__group__input">
          <Dropdown v-model="selectedCategory" :options="categories"
          optionLabel="name" placeholder="Selecteer een categorie"
          :filter="true"
          filterPlaceholder="Vind een categorie" />
        </div>
      </div>

      <Toast />

      <Button :disabled="disabled" label="Toevoegen"></Button>
    </form>
  </div>
</template>

<script>
import { db } from '../services/db';

export default {
  name: 'NewCategory',
  data() {
    return {
      name: null,
      selectedCategory: null,
      errorMessage: false,
      year: null,
      disabled: false,
      campus: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
  },
  created() {
    this.year = this.$route.params.year;
    this.campus = this.$route.params.campus;
  },
  methods: {
    async addCategory(e) {
      e.preventDefault();

      if (this.name && this.selectedCategory) {
        this.disabled = true;
        await db.collection('suppliers').add({
          name: this.name,
          categoryId: this.selectedCategory.id,
        });
        this.$toast.add({
          severity: 'success',
          summary: 'Success',
          detail: `Leverancier ${this.name} toegevoegd`,
          life: 5000,
        });
        this.$router.push({ name: 'SuppliersList', params: { year: this.year, campus: this.campus } });
      } else {
        this.errorMessage = true;
      }
    },
  },
};
</script>
