<template>
  <div class="suppliers">
    <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ name: 'InvoicesList' })" label="Terug naar facturatie" />
    </div>
    <h1 class="text-center">Leveranciers</h1>
    <div class="text-right">
      <Button @click="$router.push({ name: 'NewSupplier', params: { year: year} })"
        label="Voeg leverancier toe" icon="pi pi-plus" iconPos="left" />
    </div>
    <template v-if="loader">
      <div class="text-center">
        <ProgressSpinner style="width:90px;height:90px;margin-top:50px;"
          strokeWidth="3" />
      </div>
    </template>
    <template v-else>
      <br><br>
      <DataTable :value="formattedSuppliers" :filters="filters" editMode="row"
      :editingRows.sync="editingRows"
      @row-edit-init="onRowEditInit"
      @row-edit-save="onRowEditSave"
      @row-edit-cancel="onRowEditCancel">
        <Column field="name" header="Naam"  :sortable="true">
          <template #filter>
              <InputText type="text" v-model="filters['name']" class="p-column-filter"
              placeholder="Zoek op naam" />
          </template>
          <template #editor="slotProps">
              <InputText v-model="slotProps.data[slotProps.column.field]" />
          </template>
        </Column>
        <Column field="categoryName" header="Categorie" :sortable="true">
          <template #filter>
              <InputText type="text" v-model="filters['categoryName']" class="p-column-filter"
              placeholder="Zoek op categorie" />
          </template>
          <template #editor="slotProps">
              <Dropdown v-model="slotProps.data['categoryId']" :options="categories"
              optionLabel="name"
              optionValue="id" placeholder="Selecteer een categorie">
                  <template #option="optionProps">
                      <div class="p-dropdown-car-option">
                          <span>{{optionProps.option.name}}</span>
                      </div>
                  </template>
              </Dropdown>
          </template>
        </Column>
        <Column :rowEditor="true" headerStyle="width:6em" bodyStyle="text-align:center"></Column>
      </DataTable>
    </template>
  </div>
</template>

<script>
import Vue from 'vue';
import { db } from '../services/db';

export default {
  name: 'Suppliers',
  data() {
    return {
      filters: {},
      editingRows: [],
      originalRows: null,
      formattedSuppliers: [],
      loader: true,
      year: null,
    };
  },
  computed: {
    categories() {
      return this.$store.state.categories;
    },
    suppliers() {
      return this.$store.state.suppliers;
    },
  },
  watch: {
    suppliers() {
      this.addCategoryNameToSupplier();
    },
  },
  created() {
    this.originalRows = {};
    this.year = this.$route.params.year;

    this.addCategoryNameToSupplier();
  },
  methods: {
    onRowEditSave(event) {
      const supplier = { ...this.formattedSuppliers[event.index] };

      db.collection('suppliers')
        .doc(this.suppliers[event.index].id)
        .set(supplier)
        .then(() => {
          this.$toast.add({
            severity: 'success',
            summary: 'Success',
            detail: `Leverancier ${supplier.name} gewijzigd.`,
            life: 5000,
          });
        });
    },
    onRowEditInit(event) {
      this.originalRows[event.index] = { ...this.formattedSuppliers[event.index] };
    },
    onRowEditCancel(event) {
      Vue.set(this.formattedSuppliers, event.index, this.originalRows[event.index]);
    },
    addCategoryNameToSupplier() {
      if (this.suppliers.length > 0 && this.categories.length > 0) {
        this.formattedSuppliers = this.suppliers
          .map((supplier) => ({
            ...supplier,
            categoryName: this.categories.find(
              (category) => category.id === supplier.categoryId,
            ).name,
          }));

        this.loader = false;
      }
    },
  },
};
</script>
