<template>
<div>
  <div class="text-left">
        <Button class="p-button-raised p-button-rounded"
          @click="$router.push({ path: '/' })" label="Home" />
  </div>
  <div class="year-selection text-center">
    <br><br>
    <div class="intro">
      <h1>Kies het jaar waarvoor je de facturatie wil ingeven of bekijken:</h1>
    </div>

    <template v-for="year in years">
        <Button :key="year" class="p-button-raised"
          @click="$router.push({ name: 'InvoicesList', params: {year : year, campus:campus} })"
           :label="year" />
    </template>
  </div>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      years: [],
      campus: null,
    };
  },
  computed: {
    invoices() {
      if (this.$route.params.campus === 'antwerpen') {
        return this.$store.state.invoicesAntwerpen;
      }
      return this.$store.state.invoicesDeurne;
    },
  },
  watch: {
    invoices() {
      this.showYears();
    },
  },
  created() {
    this.showYears();
    this.campus = this.$route.params.campus;
  },
  methods: {
    showYears() {
      this.invoices.forEach((invoice) => {
        const year = invoice.invoiceDate.split('-')[0];
        if (!this.years.includes(year)) {
          this.years.push(year);
        }
      });
      const currentYear = new Date().getFullYear().toString();
      if (!this.years.includes(currentYear)) {
        this.years.push(currentYear);
      }
    },
  },
};
</script>
